<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Movie Booking Reminder</title>
</head>
<body style="font-family: Ubuntu, sans-serif; background-color: #121212; margin: 0; padding: 0;">
<table style="max-width: 600px; margin: 0 auto; background-color: #1e1e1e; border-collapse: collapse;">
    <tr>
        <td style="padding: 20px; text-align: center;">
            <h1 style="color: #f39c12;">Daily Movie Booking Reminder</h1>
            <p style="color: #ccc; font-size: 18px;">Hey we missed you today!</p>
            <p style="color: #ccc; font-size: 18px;">We hope you're doing well.</p>
            <p style="color: #ccc; font-size: 18px;">Don't miss out on the latest movies showing in theaters. Book your
                tickets now and enjoy a cinematic experience like never before.</p>
            <p style="color: #ccc; font-size: 18px;">Visit our website and secure your seats for the hottest
                releases!</p>
            <p style="color: #ccc; font-size: 18px;">Stay entertained and make memories with the magic of the big
                screen.</p>
            <p style="color: #ccc; font-size: 18px;">Best regards,</p>
            <p style="color: #ccc; font-size: 18px;">The TicketShow Team</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; background-color: #222; text-align: center;">
            <p style="color: #ccc; font-size: 16px; margin: 0;">For more entertainment, visit our website: <a
                    href="https://www.ticketshow.com"
                    style="color: #f39c12; text-decoration: none;">www.ticketshow.com</a></p>
        </td>
    </tr>
</table>
</body>
</html>
